.shell {
  margin: 0 auto;
  padding: var(--space-6) var(--space-5) var(--space-8);
}

.narrow {
  max-width: calc(var(--content-narrow) + 2 * var(--space-5));
  padding-top: var(--space-8);
}

.base {
  max-width: calc(var(--content-base) + 2 * var(--space-5));
}

.wide {
  max-width: calc(var(--content-wide) + 2 * var(--space-5));
}
